@tailwind base;
@tailwind components;
@tailwind utilities;

/* NextUI CSS 추가 */
/* 잘못된 임포트 */


/* 올바른 임포트 (패키지 문서에 따라 다를 수 있음) */
/*@import '@nextui-org/react/dist/style.css'; !* 경로 확인 후 수정 필요 *!*/


html, body {
	width: 100%;
	height: 100%;
}

.navbar {
	background: white;
	padding: 20px;
}

.body-content {
	width: 100%;
	height: 100%;
}

.navbar a {
	text-decoration: none;
}

.navbar-item {
	@apply p-2 ms-1 me-1
}

.cart-item {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid grey;
}

.dark-mode .navbar {
	background: #222;
	color: white;
}
