.transition-opacity {
	transition-property: opacity;
	transition-duration: 500ms; /* 트랜지션 지속 시간 (0.5초) */
	transition-timing-function: ease-in-out; /* 트랜지션 타이밍 함수 (가속-감속) */
}

.opacity-0 {
	opacity: 0;
}
